#include <os2.h>

MENU 100
BEGIN
   SUBMENU "~Defaults", 1, MIS_TEXT
   BEGIN
      MENUITEM "~MONDAY",     100, MIS_TEXT
      MENUITEM "~TUESDAY",    101, MIS_TEXT
      MENUITEM "~WEDNESDAY",  102, MIS_TEXT
      MENUITEM "T~HURSDAY",   103, MIS_TEXT
      MENUITEM "~FRIDAY",     104, MIS_TEXT
      MENUITEM "~SATURDAY",   105, MIS_TEXT
      MENUITEM "S~UNDAY",     106, MIS_TEXT
   END
END

